body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f6f8;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #2dcb7e;
  --gray: #6c757d;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --dark-gray: #3d5170;
  --bs-primary: #2dcb7e;
  --bs-primary-rgb: 45, 203, 126;
  --shadow: rgba(10, 19, 27, 0.2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.75rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: var(--dark-gray);
}

h1 {
  font-size: 3.052rem;
  letter-spacing: -0.0625rem;
  line-height: 3rem;
}
h2 {
  font-size: 2.441rem;
  letter-spacing: -0.0625rem;
  line-height: 2.25rem;
}
h3 {
  font-size: 1.953rem;
  line-height: 2.25rem;
}
h4 {
  font-size: 1.563rem;
  line-height: 2rem;
}
h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 1rem;
  line-height: 1rem;
}
a {
  text-decoration: none;
}
.card {
  border: none;
  height: 100%;
  box-shadow: var(--shadow) 0px 8px 24px;
}
.card-header {
  background-color: transparent;
}
.btn-primary {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  outline: none;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  border: 2px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
}
